<!DOCTYPE html>
<html>
    <head>
        <title> WELCOME TO KAHANI </title>
 
    </head>
    <body>
        <div>
            <h1> WELCOME TO KAHANI</h1>
            <img id = "banner_img" src = "http://192.168.0.104:5000/static/banner_img.jpg"
            height="516" width ="1080">
            <h2>About KAHANI</h2>
            <p>
                about kahani some lines is a e books ,graphic novel and audio books 
            </p>
            <h2> Books </h2>
            <p> List of Books </p>
            <div>
            <button> Contact Us </button>
                <p> Copyright 2023, KAHANI</p>
            </div>
        </div>
    </body>
</html>